
<div class="app">

  <header>
    <title>Kaleidoscope</title>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
      <a class="navbar-brand" routerLink="/">
        <span class="mr-1" style="color:white">Kaleidoscopic</span>
        <img src="./favicon.ico" width="20" height="20" alt="ganatan">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">
              <i class="fas fa-home mr-1"></i>home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/about">
              <i class="far fa-question-circle mr-1"></i>About
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact">
              <i class="fas fa-envelope mr-1"></i>Contact
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/signin">
              <i class="fas fa-user mr-1"></i>Sign in
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/pokusio/kaleidoscopic">
              <i class="fab fa-github mr-1"></i>Github
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  <main>
      <div  class="container-fluid" [ngStyle]="{'background': 'rgba(' + red + ',' + green + ',' + blue + ',' + opacity + ')'}">

      <h1>Kaleidoscopic</h1>

      <hr />

      <div class="card col-12">
        <div class="card-body">
          <h3 class="card-title">RGB and Opacity of the Background Color of Kaleidoscopic</h3>
          <h6 class="card-subtitle mb-2 text-muted">Use the inputs below to reset the background color in this page</h6>
          <p class="card-text">Using the REST API Endpoint you can also reset the color try <code></code></p>
          <pre>
            <code>
            export JSON_PAYLOAD="&#123; \
            \"red\" : \"&lt;0 to 255&gt;\", \
            \"green\" : \"&lt;0 to 255&gt;\", \
            \"blue\" : \"&lt;0 to 255&gt;\", \
            \"opacity\" : \"&lt;decimal from 0 to 1>\" \
            &#125;"

            echo "$&#123;JSON_PAYLOAD&#125;" &#124; jq .

            curl -d  "$&#123;JSON_PAYLOAD&#125;" -X POST http://$&#123;KALEIDOSCOPIC_API_HOSTNAME&#125;:$&#123;KALEIDOSCOPIC_API_PORT_NO&#125;/api/v1/files/management/ui/theme/maincolor &#124; jq .

            </code>
          </pre>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Red Component (An integer between 0-255)</span>
            </div>
            <input [(ngModel)]="red" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Green Component (An integer between 0-255)</span>
            </div>
            <input [(ngModel)]="green" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Blue Component (An integer between 0-255)</span>
            </div>
            <input [(ngModel)]="blue" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Opacity (A decimal number between 0 and 1)</span>
            </div>
            <input [(ngModel)]="opacity" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>

        </div>
      </div>
      <hr />
      <div class="card col-12" [ngStyle]="{'background': 'rgba(' + red/32 + ',' + green + ',' + blue + ',' + opacity + ')', font: sans-serif}">
        <div class="card-body">
          <h3 class="card-title">The Kaleidoscopic REST API</h3>

          <p class="card-text">Using the REST API Endpoint you can also reset the color try <code></code></p>
          <pre  [ngStyle]="{'background': 'white'}">
            <code>
            export JSON_PAYLOAD="&#123; \
            \"red\" : \"&lt;0 to 255&gt;\", \
            \"green\" : \"&lt;0 to 255&gt;\", \
            \"blue\" : \"&lt;0 to 255&gt;\", \
            \"opacity\" : \"&lt;decimal from 0 to 1>\" \
            &#125;"

            echo "$&#123;JSON_PAYLOAD&#125;" &#124; jq .

            curl -d  "$&#123;JSON_PAYLOAD&#125;" -X POST http://$&#123;KALEIDOSCOPIC_API_HOSTNAME&#125;:$&#123;KALEIDOSCOPIC_API_PORT_NO&#125;/api/v1/files/management/ui/theme/maincolor &#124; jq .

            </code>
          </pre>

        </div>
      </div>




      <hr />

      <span [ngClass]="displayText">toggled with ngClass</span>
      <br/>
      <button  class="btn btn-primary" (click)="toggle()">Toggle</button>

      </div>
    </main>



  <div class="footer" [ngStyle]="{'background': 'rgba(' + red + ',' + green + ',' + blue + ',' + opacity/3 + ')', font: sans-serif}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-navy">&copy; 2020 - www.pok-us.io</p>
        </div>
      </div>
    </div>
  </div>
